/* Section blog main */
main {
    width: 100%;
    height: auto;
}

main .news-container {
    width: 100%;
    height: 50vh;
    background-color: #e6e9ed;
    display: flex;
    align-items: center;
    padding: 0 80px 50px;
}

.news-container .img-new-container {
    max-width: 500px;
    margin-right: 50px;
}

.img-new-container figcaption {
    font-size: var(--sm);
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 12px;
}

.img-new-container img {
    width: 100%;
}

.news-container .new-content {
}

.news-container .new-title {
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 12px;
}

.news-container .new-description {
    font-size: var(--md);
    margin-bottom: 34px;
}

.btn {
    padding: 12px;
    font-size: var(--sm);
    border: 1px solid var(--primary-color);
}