/* Section blog main */
main {
    width: 100%;
    height: auto;
}

main .news-container {
    width: 100%;
    height: 50vh;
    background-color: #e6e9ed;
    display: flex;
    align-items: center;
    padding: 0 80px 50px;
}

.news-container .img-new-container {
    max-width: 500px;
    margin-right: 50px;
}

.img-new-container figcaption {
    font-size: var(--sm);
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 12px;
}

.img-new-container img {
    width: 100%;
}

.news-container .new-content {
}

.news-container .new-title {
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 12px;
}

.news-container .new-description {
    font-size: var(--md);
    margin-bottom: 34px;
}

.btn {
    display: inline-block;
    padding: 12px;
    font-size: var(--sm);
    border: 1px solid var(--primary-color);
}

.latest-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    margin-top: 22px;
}

.latest-container .latest-title {
    width: 90%;
    padding-bottom: 12px;
    margin-bottom: 24px;
    font-size: var(--md);
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #cdd2da;
}

.latest-container .latest-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.latest-content article {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

article h3 {
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 12px;
}

article p {
    font-size: var(--sm);
    margin-bottom: 35px;
}

article img {
    width: 100%;
    margin-bottom: 12px;
}