/* Reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: black;
}

/* Gobal varaibles */

:root {
    /* Palette colors */
    --primary-color: #47cfac;

    /* Sizes font */
    --lg-x: 3rem;
    --lg: 1.6rem;
    --md: 1.4rem;
    --sm: 1.2rem;
}

/* Section header */

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: var(--sm);
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--primary-color);
}

.header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: end;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.icons span {
    color: black;
}

/* Section header - 2 */

nav {
    height: 90px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

nav .nav-logo-container {
    margin-left: 50px;
}

.nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}

.profile-link a {
    border-bottom: 1px solid #000;
}

/* Section main */

main {
    width: 100%;
    height: auto;
}

main .main-enter-now-container {
    width: 100%;
    height: 81vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('/assets/img/Cover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-enter-now-container .title {
    color: white;
    letter-spacing: 10px;
    text-align: center;
    font-size: var(--lg-x);
}

.main-enter-now-container .btn {
    padding: 12px;
    background-color: var(--primary-color);
    color: black;
    font-weight: bold;
    font-size: var(--sm);
}